<div class="jumbotron text-center">
    <h1>Delete Item</h1>
    <p>
        Are you sure you want to delete {{ item.name }}?
    </p>
    <a class="btn btn-danger" data-ng-click="deleteItem(item)">Delete Item</a>
    <a class="btn btn-default" href="/inventory/list">Back</a>
</div>