<div class="jumbotron">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Name: {{ item.name }} </h3>
        </div>
        <div class="panel-body">
            <h5 class="panel-title">Item ID: {{ item.id }} </h5>
            <dl class="dl-horizontal clearfix">
                <dt>Name</dt>
                <dd>{{ item.name }}</dd>
            </dl>
            <div class="text-right">
                <a class="btn btn-danger" href="/inventory/delete/{{ item._id}}">Delete</a>
                <a class="btn btn-success" href="/inventory/update/{{ item._id}}">Update</a>
            </div>
        </div>
    </div>
</div>
