<div class="jumbotron text-center">
    <h1>Items</h1>
    <a class="btn btn-success btn-lg" href="/inventory/new">New Item</a>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6" data-ng-repeat="item in inventory |  orderBy: 'name' ">
        <a class="btn btn-primary btn-lg btn-item-list" href="/inventory/detail/{{ item._id}}">{{ item.name }}</a>
    </div>
</div>
