<div class="jumbotron text-center">
    <h1>Inventory</h1>
    <a href="/inventory/list" class="btn btn-lg btn-info">List Items</a>
    <!--<a href="/inventory/detail" class="btn btn-primary">Detail</a>-->
    <a href="/inventory/new" class="btn btn-lg btn-success">New Item</a>
    <!--<a href="/inventory/delete" class="btn btn-danger">Delete</a>-->
</div>