<div class="jumbotron text-center">
    <h1>Delete Recipe</h1>
    <p>
        Are you sure you want to delete {{ recipe.name }}?
    </p>
    <a class="btn btn-danger" data-ng-click="deleteItem(recipe)">Delete Recipe</a>
    <a class="btn btn-default" href="/recipes/list">Back</a>
</div>