<div class="jumbotron">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Name: {{ recipe.name }} </h3>
        </div>
        <div class="panel-body">
            <h5 class="panel-title">Recipe ID: {{ recipe.id }} </h5>
            <dl class="dl-horizontal clearfix">
                <dt>Class</dt>
                <dd>{{ recipe.name }}</dd>
            </dl>
            <div class="text-right">
                <a class="btn btn-danger" href="/recipes/delete/{{ recipe._id}}">Delete</a>
                <a class="btn btn-success" href="/recipes/update/{{ recipe._id}}">Update</a>
            </div>
        </div>
    </div>
</div>
