<div class="jumbotron text-center">
    <h1>Recipes</h1>
    <a class="btn btn-success btn-lg" href="/recipes/new">New Recipe</a>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6" data-ng-repeat="recipe in recipes |  orderBy: 'first_name' ">
        <a class="btn btn-primary btn-lg btn-recipe-list" href="/recipes/detail/{{ recipe._id}}">{{ recipe.name }}</a>
    </div>
</div>
