<div class="jumbotron text-center">
    <h1>Recipes</h1>
    <a href="/recipes/list" class="btn btn-lg btn-info">List</a>
    <!--<a href="/recipes/detail" class="btn btn-primary">Detail</a>-->
    <a href="/recipes/new" class="btn btn-lg btn-success">New</a>
    <!--<a href="/recipes/delete" class="btn btn-danger">Delete</a>-->
</div>