<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <form novalidate="novalidate" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputName">Name</label>
                    <div class="col-sm-8">
                        <input type="text" id="inputName" data-ng-model="recipe.name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-success" data-ng-click="update(recipe)">Update Recipe</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Name: {{ recipe.name }} </h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>