<div class="jumbotron text-center">
    <h1>Delete Character</h1>
    <p>
        Are you sure you want to delete {{ character.first_name }} {{ character.last_name }}?
    </p>
    <a class="btn btn-danger" data-ng-click="deleteItem(character)">Delete Character</a>
    <a class="btn btn-default" href="/characters/list">Back</a>
</div>