<div class="jumbotron">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Name: {{ character.firstName + ' ' + character.lastName }} </h3>
        </div>
        <div class="panel-body">
            <h5 class="panel-title">Character ID: {{ id }} </h5>
            <dl class="dl-horizontal clearfix">
                <dt>Class</dt>
                <dd>{{ character.class }}</dd>
                <dt>XP</dt>
                <dd>{{ character.experience }}</dd>
            </dl>
            <div class="text-right">
                <a class="btn btn-danger" href="/characters/delete/{{ character._id}}">Delete</a>
                <a class="btn btn-success" href="/characters/update/{{ character._id}}">Update</a>
            </div>
        </div>
    </div>
</div>
