<div class="jumbotron text-center">
    <h1>Characters</h1>
    <a class="btn btn-success btn-lg" href="/characters/new">New Character</a>
</div>

<div class="row">
    <div class="col-md-3 col-sm-6" data-ng-repeat="character in characters |  orderBy: 'firstName' ">
        <a class="btn btn-primary btn-lg btn-character-list" href="/characters/detail/{{ character._id}}">{{ character.firstName }} {{ character.lastName }}</a>
    </div>
</div>
