<div class="jumbotron text-center">
    <h1>Characters</h1>
    <a href="/characters/list" class="btn btn-lg btn-info">List</a>
    <!--<a href="/characters/detail" class="btn btn-primary">Detail</a>-->
    <a href="/characters/new" class="btn btn-lg btn-success">New</a>
    <!--<a href="/characters/delete" class="btn btn-danger">Delete</a>-->
</div>