<form novalidate="novalidate">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="inputFirstName">First Name</label>
                    <input type="text" id="inputFirstName" data-ng-model="character.firstName" class="form-control"/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="inputLastName">Last Name</label>
                    <input type="text" id="inputLastName" data-ng-model="character.lastName" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3" data-ng-repeat="statType in newCharacter.statTypes">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ statType.label }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" data-ng-repeat="stat in statType.stats">
                            <label class="control-label">{{ stat.label }}</label>
                            <input type="text" data-ng-model="stat.value" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3" data-ng-repeat="skillType in newCharacter.skillTypes">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ skillType.label }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" data-ng-repeat="skill in skillType.skills">
                            <label class="control-label">{{ skill.label }}</label>
                            <input type="text" data-ng-model="skill.value" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" data-ng-repeat="questingSkillType in newCharacter.questingSkillTypes">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ questingSkillType.label }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" data-ng-repeat="skill in questingSkillType.skills">
                            <label class="control-label">{{ skill.label }}</label>
                            <input type="text" data-ng-model="skill.value" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success pull-right" data-ng-click="save(character)">Create Character</button>
            </div>
        </div>
    </div>
</form>