<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <form novalidate="novalidate" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputFirstName">First Name</label>
                    <div class="col-sm-8">
                        <input type="text" id="inputFirstName" data-ng-model="character.firstName" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputLastName">Last Name</label>
                    <div class="col-sm-8">
                        <input type="text" id="inputLastName" data-ng-model="character.lastName" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-success" data-ng-click="update(character)">Update Character</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Name: {{ character.firstName + ' ' + character.lastName }} </h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>